<div layout="column" layout-fill>
  <div class="md-content" layout-padding flex>
    <div layout-gt-xs="row" layout-align-gt-xs="center start" class="margin">
      <div flex-gt-xs="30">
        <md-card tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']" layout="column" layout-align="start center">

          <div layout="row" layout-align="center start" flex layout-padding>
            <a [routerLink]="['/']">
              <img src="/assets/logo.png" alt="home"/>
            </a>
          </div>

          <nav md-tab-nav-bar flex>
            <a md-tab-link flex
              *ngFor="let link of navLinks"
              [routerLink]="link.value"
              routerLinkActive
              #rla="routerLinkActive"
              [active]="rla.isActive">
              {{link.label}}
            </a>
          </nav>

          <router-outlet flex></router-outlet>
        </md-card>
      </div>
    </div>
  </div>
</div>
