<form id="form" name="form" class="form" [formGroup]="commentForm" (ngSubmit)="saveCommentForm()"
  novalidate>
  <div layout="row">
    <md-input-container flex>
      <textarea  mdInput  name="content" id="content" [formControl]="content" rows="8" required>
      </textarea>
      <md-error align="start" *ngIf="content.hasError('required')">Comment is required</md-error>
      <md-error align="start" *ngIf="content.hasError('minlength')">At least 10 chars</md-error>
    </md-input-container>
  </div>
  <div layout="row" md-padding>
    <button md-raised-button type="submit" color="primary" [disabled]="commentForm.invalid || commentForm.pending">  {{'save'}}
    </button>
  </div>
</form>
