<h1>
  Angular 2 Sample
</h1>

<md-grid-list cols="3" rowHeight="200px">
  <md-grid-tile *ngFor="let s of skills">
    <md-card class="example-card">
      <md-card-header>
        <!--<div md-card-avatar class="example-header-image"></div>-->
        <md-card-title><h3>{{s.name}}</h3></md-card-title>
        <!--<md-card-subtitle>Dog Breed</md-card-subtitle>-->
      </md-card-header>
      <!--<img md-card-image src="assets/img/examples/shiba2.jpg">-->
      <md-card-content>
        <p>{{s.description}}
          <!--The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.-->
        </p>
      </md-card-content>
      <md-card-actions>
        <a md-button [href]="s.url">{{s.name}}</a>
        <!--<button md-button>LIKE</button>
        <button md-button>SHARE</button>-->
      </md-card-actions>
    </md-card>

  </md-grid-tile>
</md-grid-list>


<!--<div class="row">
  <div class="col-md-6" *ngFor="let s of skills">
    <div class="card" >
      <div class="card-header">
        <h3 class="text-uppercase text-justify">{{s.name}}</h3>
      </div>
      <div class="card-block">
        <p>{{s.description}}</p>
        <a [href]="s.url">{{s.name}}</a>
      </div>
    </div>
  </div>
</div>-->
